.git
.gitignore
.dockerignore
node_modules
vendor
composer.lock
package-lock.json
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose*.yml
README.md
