.git
.gitignore
.dockerignore
node_modules
vendor
composer.lock
package-lock.json
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/app/*
database/*.sqlite
# (Removed .env so it can be copied into the container during build)
.phpunit.result.cache
docker-compose*.yml
README.md
